---
layout: default
title: Joe Jackson Homepage
---

<div class="main-container">    

    <div class="hero home-hero-text ">
        <div class="prev">
            <a href="#"  onclick="plusSlides(-1)">&#10094</a>
        </div>

        <div class="home-hero-container">            
            <h1 class="hero-welcome darken">Welcome</h1>
            <h3 class="hero-tags darken">Explore | Create | Grow</h3>
            <h4 class="hero-tagline darken italic">"Insert catchy tagline here..."</h4>
            <div class="js-play"><i class="fa fa-play darken"></i></div>
            <div class="js-pause"><i class="fa fa-pause darken"></i></div>                        
        </div>        

        <div class="next">
            <a href="#" onclick="plusSlides(1)">&#10095</a>
        </div>       
    </div>


    <div class="hero home-hero-button">
        <div>
            <span class="js-dot dot" onclick="currentSlide(1)"></span>
            <span class="js-dot dot" onclick="currentSlide(2)"></span>
            <span class="js-dot dot" onclick="currentSlide(3)"></span>
        </div>       
    </div>


    <div class="hero home-hero-1 fade js-mySlides">
        <div class="number-text"></div>
        <div class="caption-text"></div>
    </div>

    <div class="hero home-hero-2 fade js-mySlides">
        <div class="number-text"></div>
        <div class="caption-text"></div> 
    </div>

    <div class="hero home-hero-3 fade js-mySlides">
        <div class="number-text"></div>
        <div class="caption-text"></div>
    </div>

    
    <div class="home-image-1"><a href="/about.html" class="darken"><h2 class="image-link">ABOUT</h2></a></div>
    <div class="home-image-2"><a href="/travel.html" class="darken"><h2 class="image-link">TRAVEL</h2></a></div>
    <div class="home-image-3"><a href="/music.html" class="darken"><h2 class="image-link">MUSIC</h2></a></div>
    
   
    <div class="title-banner">
        <a href="/blog.html"><h2 class="title-banner-blog">THOUGHTS FROM THE BLOG</h2></a>
    </div>



    {% for post in site.posts %}
    {% if forloop.index == 1 %}
           <a href="{{ post.url }}" class="image-blog-1" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}


    <div class="blog-extract-1">
    {% for post in site.posts %}
    {% if forloop.index == 1 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>
    {% endif %}
    {% endfor %}
    </div><!-- #blog-extract-1 -->

    {% for post in site.posts %}
    {% if forloop.index == 2 %}
           <a href="{{ post.url }}" class="image-blog-2" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}

    <div class="blog-extract-2">
    {% for post in site.posts %}
    {% if forloop.index == 2 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>
    {% endif %}

    {% endfor %}     
    </div><!-- #blog-extract-2 -->

    {% for post in site.posts %}
    {% if forloop.index == 3 %}
           <a href="{{ post.url }}" class="image-blog-3" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}

    <div class="blog-extract-3">
    {% for post in site.posts %}
    {% if forloop.index == 3 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>

    {% endif %}
    {% endfor %}       
    </div><!-- #blog-extract-3 -->
</div>

<script src="js/carousel.js"></script>