<!doctype html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="The personal website of Joe Jackson">	
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="header">		
		<nav class="main-nav-fac main-nav-js">
			<li class="fac-nav-fc"><a href="#">Founders&Coders</a></li>
			<li class="nav-home"><a href="/home.html" target="_blank">Personal Website</a></li>				
			<!-- <a href="javascript:void(0);" class="icon">
    			<i class="fa fa-bars"></i>
  			</a> -->
  			
		</nav><!-- .main-nav -->		
	</header>


	<section class="content">
		{{ content }}
	</section>


	<footer class="footer">		
		<nav class="footer-nav">
			<li> <a href="/">Joe<strong>Jackson</strong></a></li>

			{% include newsletter.html %}

			<li> <a href="https://www.instagram.com/joepockk/" target="_blank"><img src="/images/ig_outline_grey.png" alt="instagram"></a></li>
			<!-- <li> <a href="https://www.linkedin.com/in/joe-m-jackson-37709767" target="_blank"><img src="/images/linkedin_outline_grey.png" alt="instagram"></a></li> -->
		</nav><!-- .footer-nav -->
	</footer>

</body>
</html>
