---
layout: default
title: Home
---


<div class="main-container">
    <section class="hero darken">
    	<div class="home-hero-container">
    		<h1 class="hero-welcome">Welcome.</h1>
            <h3 class="hero-tags">Exploration | Creativity | Health</h3>
            <h4 class="hero-tagline">"A space to ponder over the experiences which combine, collide and coexist together to shape our little journey called life"</h4>
    	</div>
	</section>


    
    <div class="home-image-1"><a href="/about.html"><h2 class="image-link">ABOUT.</h2></a></div>
    <div class="home-image-2"><a href="/travel.html"><h2 class="image-link">TRAVEL.</h2></a></div>
    <div class="home-image-3"><a href="/music.html"><h2 class="image-link">MUSIC.</h2></a></div>
    
   
    <div class="title-banner">
        <a href="/blog.html"><h2 class="title-banner-blog">THOUGHTS FROM THE BLOG.</h2></a>
    </div>



    {% for post in site.posts %}
    {% if forloop.index == 1 %}
           <a href="{{ post.url }}" class="image-blog-1" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}


    <div class="blog-extract-1">
    {% for post in site.posts %}
    {% if forloop.index == 1 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>
    {% endif %}
    {% endfor %}
    </div><!-- #blog-extract-1 -->

    {% for post in site.posts %}
    {% if forloop.index == 2 %}
           <a href="{{ post.url }}" class="image-blog-2" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}

    <div class="blog-extract-2">
    {% for post in site.posts %}
    {% if forloop.index == 2 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>
    {% endif %}

    {% endfor %}     
    </div><!-- #blog-extract-2 -->

    {% for post in site.posts %}
    {% if forloop.index == 3 %}
           <a href="{{ post.url }}" class="image-blog-3" {% if post.featured-img %} style="background-image: url({{ post.featured-img }});" {% else %} style="background-image: url('/images/bubble.png');" {% endif %}></a>
    {% endif %}
    {% endfor %}

    <div class="blog-extract-3">
    {% for post in site.posts %}
    {% if forloop.index == 3 %}
        <div class="post-wrapper-home">
            <h4 class="blog-extract-title"><a href="{{ post.url }}">{{ post.post-title }}</a></h4>
            <h5 class="post-meta">
                {{ post.date | date: '%B %d, %Y' }} | 
                {{ post.category }}
            </h5>
            <h6 class="post-excerpt">
            {{ post.excerpt | truncatewords: 20 }}
            </h6>
        </div>

    {% endif %}
    {% endfor %}       
    </div><!-- #blog-extract-3 -->
</div>



